
body{
    margin: 0;
    padding: 0;
    background:url(CG8A7145.jpg);
    background-size: cover;
}
section{
   padding-top: 70px;
    margin: 1vw;
   flex-flow: row wrap; 
   display: flex;
   
}

section div{
    flex: auto;
    width: 300px;
    margin: .5vw;
}
section div img{
    width: 100%;
    height: auto;
    opacity: 0.8;
    border: 3px solid darkgrey;
    
}
section div img:hover{
    opacity: 1;
}

.container{
    padding-top:70px ;
}
